@font-face {
	font-family: Inter;
	src: url(/assets/fonts/Inter-Regular.ttf);
}
@font-face {
	font-family: Karla;
	src: url(/assets/fonts/Karla-Regular.ttf);
}
* {
	font-family: Inter;
}
a {
	text-decoration: none;
}
:root {
	--Primary: #3f72af;
	--neutral-dark: #91929d;
	--neutral-white: #fff;
}
/* header-section */
.header-section button {
	font-size: 10px;
}
.header-section .borders {
	border-top: 2px solid #c7c7c7;
}
.header-section .serc {
	margin: -70px 0px 0px 10px;
}
.header-section .search-record {
	margin: -70px 0px 0px 340px;
}
.header-section .search {
	display: flex;
	padding: 8px 75px 8px 43px;
	justify-content: space-between;
	align-items: center;
	border-radius: 20px;
	outline: none;
	border: none;
	background: #fff;
	text-decoration: none;
	width: 450px;
}
.header-section .icons {
	margin-left: 30px;
}
.header-section .icons a {
	margin-left: 8px;
}
.header-section .location a,
.header-section .support a {
	text-decoration: none;
	color: #23263b;
	font-size: 12px;
}
.header-bottom a {
	color: #23263b;
	font-size: 12px;
}
.banner {
	background: url("/assets/img/banner-img.svg");
	background-size: cover;
	/* height: 100vh; */
}
.banner-text {
	/* padding-top: 20% !important; */
}
/* nav{
	background-color: #F2F2F2;
} */
header .primary {
	background: var(--Primary);
	display: flex;
	padding: 3px 48px 4px 48px;
	justify-content: center;
	align-items: center;
	/* gap: 10px; */
}
/* input.search {
	display: flex;
	padding: 8px 12px;
	justify-content: space-between !important;
	align-items: center;
	color: var(--neutral-dark, #91929d);
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	border-radius: 20px;
	border: 0px solid #eee;
	background: var(--neutral-white, #fff);
} */
/* .search-border {
	border-radius: 20px;
	border: 1px solid #eee;
	background: var(--neutral-white, #fff);
} */
.main-title {
	color: #3f72af;
	font-family: Karla;
	font-size: 61px;
	font-style: normal;
	font-weight: 700;
	line-height: 90%;
	letter-spacing: 4.184px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.p-title {
	display: flex;
	color: #625f5f;
	font-family: Karla;
	font-size: 25px;
	font-style: normal;
	text-transform: uppercase;
}
p.small-title {
	color: #6b6868;
	font-family: Karla;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
}
p.img-title {
	color: var(--neutral-black, #23263b);
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
}
.p-primary-title {
	/* color: var(--neutral-white, #fff); */
	font-family: Inter;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
}
main.primary-bg {
	background: #3f72af;
	padding: 48px 0px 0px 48px;
}
/* .cards {
	/* overflow-x: auto; */
/* }  */
.contentImg {
	margin-top: -310px;
	margin-left: 211px;
	/* padding: 48px 0px 0px 48px; */
}
.third-bg {
	background: #eeecec;
}
/* ANCHOR offers & deals */
div .offer {
	color: var(--neutral-black, #23263b);
	font-family: Inter;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
}
/*ANCHOR Footer  */
footer .red-line {
	background: #e84545;
}
footer .footer-bg {
	background: #23263b;
}
section .ft-text {
	font-family: Inter;
}
.ft-title {
	color: #fff;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
}
.back-arrow {
	z-index: 222;
}
.ft-links {
	color: #fff;
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	text-decoration: none;
}
@media screen and (max-width: 768px) {
	/* .main-title {
		color: #3f72af;
		font-family: Karla;
		font-size: 62px;
		font-style: normal;
		font-weight: 700;
		line-height: 90%;
		letter-spacing: 4.184px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	} */
	.header-section .logo-header img {
		height: 40px;
		width: 90px;
		margin-right: -30px;
	}
	.header-section .search {
		max-width: 0px;
		padding: 10px 18px;
	}
	.header-section .serc {
		padding-bottom: 10px;
	}
	.header-section .search-record {
		display: none;
	}
	.header-section .location a,
	.header-section .support a {
		display: none;
	}
	.search-input {
		width: 70px;
	}
	.banner {
		background: url("/assets/img/banner-img.svg");
		background-repeat: no-repeat;
		/* background-size: cover; */
		width: 100%;
		height: 100vh;
	}
	.main-title {
		padding: 5px;
		color: #3f72af;
		font-family: Karla;
		font-size: 31px;
		font-style: normal;
		font-weight: 700;
	}
	.p-title {
		display: flex;
		color: #625f5f;
		font-family: Karla;
		font-size: 15px;
		font-style: normal;
		text-transform: uppercase;
	}
	p.small-title {
		color: #6b6868;
		font-family: Karla;
		font-size: 22px;
		font-style: normal;
		font-weight: 700;
	}
	.contentImg {
		margin-top: -98px;
		margin-left: 1px;
	}
	.cards {
		overflow-x: auto;
	}
	div .contact {
		display: none;
	}
	div .contetntImg {
		background: url("/assets/img/md-sm-img.png");
	}
	/* .icon-x {
		display: flex;
		flex-wrap: nowrap;
	} */
}
@media (min-width: 768px) {
	.cards {
		overflow-x: auto;
	}
	.contentImg {
		margin-bottom: -520px !important;
		margin-left: -22px;
	}
	.header-section .logo-header img {
		height: 60px;
		width: 130px;
		margin-right: -30px;
	}
	.header-section .search {
		font-size: 10px;
	}
	.header-section .serc {
		margin: -55px 0px 0px 5px;
	}
	.header-section .location img,
	.header-section .support img {
		height: 16px;
		width: 16px;
	}
	.header-section .icons {
		margin: 0px 10px 0px 10px;
	}
	.header-section .icons img {
		height: 16px;
		width: 16px;
	}
	.header-section .icons a {
		margin-left: 5px;
	}
}
/* !Animation ---------------------------- */
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-thumb {
	background: rgb(0, 0, 0);
	border-radius: 10px;
}
.rotate-in-center {
	-webkit-animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
	animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes rotate-in-center {
	0% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}
@keyframes rotate-in-center {
	0% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}
.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s
		cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
}
@-webkit-keyframes slide-in-elliptic-top-fwd {
	0% {
		-webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
		transform: translateY(-600px) rotateX(-30deg) scale(0);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0) rotateX(0) scale(1);
		transform: translateY(0) rotateX(0) scale(1);
		-webkit-transform-origin: 50% 1400px;
		transform-origin: 50% 1400px;
		opacity: 1;
	}
}
@keyframes slide-in-elliptic-top-fwd {
	0% {
		-webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
		transform: translateY(-600px) rotateX(-30deg) scale(0);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0) rotateX(0) scale(1);
		transform: translateY(0) rotateX(0) scale(1);
		-webkit-transform-origin: 50% 1400px;
		transform-origin: 50% 1400px;
		opacity: 1;
	}
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
		both;
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
@keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
::selection {
	color: rgb(0, 0, 0);
	background: rgb(255, 255, 255);
	text-shadow: 6px 15px 13px rgba(255, 255, 255, 0.282);
}
@media screen and (max-width: 1200px) {
	.header-section .search {
		width: 250px;
	}
	.header-section .search-record {
		margin: -70px 0px 0px 140px;
	}
}
@media screen and (max-width: 2200px) {
	.navbar-last-part {
		display: none;
	}
}
