@font-face {
	font-family: Inter;
	src: url(/assets/fonts/Inter-Regular.ttf);
}
@font-face {
	font-family: Karla;
	src: url(/assets/fonts/Karla-Regular.ttf);
}
* {
	font-family: Inter;
}
:root {
	--Primary: #3f72af;
	--neutral-dark: #91929d;
	--neutral-white: #fff;
}
.banner {
	background: url("/assets/img/banner-img.svg");
	background-size: cover;
	height: 100vh;
}
.banner-text {
	padding-top: 20% !important;
}
/* nav{
	background-color: #F2F2F2;
} */
header .primary {
	background: var(--Primary);
	display: flex;
	padding: 3px 48px 4px 48px;
	justify-content: center;
	align-items: center;
	/* gap: 10px; */
}

/* input.search {
	display: flex;
	padding: 8px 12px;
	justify-content: space-between !important;
	align-items: center;
	color: var(--neutral-dark, #91929d);
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	border-radius: 20px;
	border: 0px solid #eee;
	background: var(--neutral-white, #fff);
} */
/* .search-border {

	border-radius: 20px;
	border: 1px solid #eee;
	background: var(--neutral-white, #fff);
} */
.main-title {
	color: #3f72af;
	font-family: Karla;
	font-size: 61px;
	font-style: normal;
	font-weight: 700;
	line-height: 90%;
	letter-spacing: 4.184px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.p-title {
	display: flex;
	color: #625f5f;
	font-family: Karla;
	font-size: 25px;
	font-style: normal;
	text-transform: uppercase;
}
p.small-title {
	color: #6b6868;
	font-family: Karla;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
}
p.img-title {
	display: flex;
	justify-content: center;
	align-items: center;
}
.p-primary-title {
	/* color: var(--neutral-white, #fff); */
	font-family: Inter;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
}
main.primary-bg {
	background: #3f72af;
	padding: 48px 0px 0px 48px;
}
/* .cards {
	/* overflow-x: auto; */
/* }  */
.contentImg {
	margin-top: -90px;
	margin-right: 321px;
	/* padding: 48px 0px 0px 48px; */
}
/* ANCHOR offers & deals */
div .offer {
	color: var(--neutral-black, #23263b);
	font-family: Inter;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
}
/*ANCHOR Footer  */

footer .red-line {
	background: #e84545;
}
footer .footer-bg {
	background: #23263b;
}
section .ft-text {
	font-family: Inter;
}
.ft-title {
	color: #fff;

	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
}
.back-arrow {
	z-index: 222;
}
.ft-links {
	color: #fff;
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	text-decoration: none;
}
@media screen and (max-width: 768px) {
	.banner {
		background: url("/assets/img/banner-img.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 100%;
	}
	.main-title {
		padding: 5px;
		color: #3f72af;
		font-family: Karla;
		font-size: 31px;
		font-style: normal;
		font-weight: 700;
	}
	.p-title {
		display: flex;
		color: #625f5f;
		font-family: Karla;
		font-size: 15px;
		font-style: normal;
		text-transform: uppercase;
	}
	p.small-title {
		color: #6b6868;
		font-family: Karla;
		font-size: 22px;
		font-style: normal;
		font-weight: 700;
	}
	.contentImg {
		margin-top: -110px;
		margin-left: -22px;
	}
	.cards {
		overflow-x: auto;
	}
	div .contact {
		display: none;
	}
	div .contetntImg {
		background: url("/assets/img/md-sm-img.png");
	}
}
@media (min-width: 768px) {
	.cards {
		overflow-x: auto;
	}
	.contentImg {
		margin-top: 40px;
		margin-left: -22px;
	}
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-thumb {
	background: rgb(0, 0, 0);
	border-radius: 10px;
}
