@font-face {
	font-family: Inter;
	src: url(/assets/fonts/Inter-Regular.ttf);
}
@font-face {
	font-family: Karla;
	src: url(/assets/fonts/Karla-Regular.ttf);
}
* {
	font-family: Inter;
}
:root {
	--Primary: #3f72af;
	--neutral-dark: #91929d;
	--neutral-white: #fff;
}
.banner {
	background: url("/assets/img/banner-img.svg"),
		lightgray 0px -81.193px / 104.12% 126.15% no-repeat;
	background-size: cover;
	width: 100%;
	/* height: 660px; */
}
header .primary {
	background: var(--Primary);
	display: flex;
	padding: 3px 48px 4px 48px;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
nav span input.search {
	display: flex;
	width: 500px;
	padding: 8px 12px;
	justify-content: space-between !important;
	align-items: center;
	color: var(--neutral-dark, #91929d);
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	border-radius: 20px;
	border: 1px solid #eee;
	background: var(--neutral-white, #fff);
}
.main-title {
	color: #3f72af;
	font-family: Karla;
	font-size: 61px;
	font-style: normal;
	font-weight: 700;
	line-height: 90%;
	letter-spacing: 4.184px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.p-title {
	display: flex;
	color: #625f5f;
	font-family: Karla;
	font-size: 25px;
	font-style: normal;
	text-transform: uppercase;
}
p.small-title {
	color: #6b6868;
	font-family: Karla;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
}
p.img-title {
	display: flex;
	justify-content: center;
	align-items: center;
}
.p-primary-title {
	/* color: var(--neutral-white, #fff); */
	font-family: Inter;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 110%;
}
main.primary-bg {
	background: #3f72af;
	padding: 48px 0px 0px 48px;
}
.cards {
	overflow-x: auto;
}
/* ANCHOR offers & deals */
div .offer {
	color: var(--neutral-black, #23263b);
	font-family: Inter;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
}
/*ANCHOR Footer  */

footer .red-line {
	background: #e84545;
}
footer .footer-bg {
	background: #23263b;
}
section .ft-text {
	font-family: Inter;
}
.ft-title {
	color: #fff;

	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
}
.ft-links{
	color: #FFF;
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; 
	text-decoration: none;
}
@media screen and (max-width: 768px) {
	.banner {
		background: url("/assets/img/banner-img.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 100%;
	}
	.main-title {
		padding: 5px;
		color: #3f72af;
		font-family: Karla;
		font-size: 31px;
		font-style: normal;
		font-weight: 700;
	}
	.p-title {
		display: flex;
		color: #625f5f;
		font-family: Karla;
		font-size: 15px;
		font-style: normal;
		text-transform: uppercase;
	}
	p.small-title {
		color: #6b6868;
		font-family: Karla;
		font-size: 22px;
		font-style: normal;
		font-weight: 700;
	}
}
